option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: djangogramm/wsgi.py

option_settings:
  aws:elasticbeanstalk:application:environment:
    SRV: coursessql
    TEST_SRV: test_coursessql
    SECRET_KEY: wby3w42w4ipxwuo2rcaz0ecy3qoj1l894-
    DATABASE_NAME: dgramm_db_12
    DATABASE_USER: postgres
    DATABASE_PASS: qweqweqweqwe

    CLOUD_NAME: ostincloud
    API_KEY: 829254883159486
    API_SECRET: aK95oLK9EvIwE4DlcJvH5myf-z0

    EMAIL_HOST_USER: Rainx81
    EMAIL_HOST_PASSWORD: rhhqnexdleeahouc