{% extends 'base.html' %}

{% block title %}
    <title>Логін</title>
{% endblock %}

{% block content %}
    <h1>Логін</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Ім'я користувача">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Пароль">
        </div>
        <button type="submit" class="btn btn-secondary">Увійти</button>
    </form>
    <br/>


    Зареєструйся <a href="{% url 'register' %}">тут</a>
{% endblock %}

