{% load static %}
{% load menu_tag %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    {% block title %}
        <title>{{ title }} - DjangoGramm</title>
    {% endblock %}
</head>
<body>
<div class="container">
    {% block mainmenu %}
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/swagger/" target="_blank" rel="nofollow">Swagger</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% get_menu as menu %}
                        {% for m in menu %}
                            <li class="nav-item"><a class="nav-link" href="{{ m.url }}">{{ m.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock mainmenu %}

    {% block content %}
    {% endblock %}
</div>
</body>
</html>
