{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    <table id="data" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Avatar</th>
            <th>Name</th>
            <th>Bio</th>
        </tr>
        </thead>
        <tbody>
        {% for u in object_list %}
            <tr>
                {% if u.avatar %}
                    <td><img src="{{ u.avatar.url }}" height="50" alt="No Photo"></td>
                {% else %}
                    <td>No Photo</td>
                {% endif %}
                <td><a href="{%  url 'user_detail' user.pk %}" target="_blank" rel="nofollow">{{ u.username }}</a></td>
                <td>{{ u.email }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

