{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <small><a href="{% url 'user_detail' post.user.pk %}"> By: {{ post.user }} - {{ post.date }}</a></small>
    {% if user == post.user %}
        | <small><a href="{% url 'post_update' post.pk %}">(Редагувати)</a></small>
        | <small><a href="{% url 'post_delete' post.pk %}">(Видалити)</a></small>
        | <small><a href="{% url 'image_create' post.pk %}">(Додати зображення)</a></small>
        {% if post.image_set.all %}
            | <small><a href="{% url 'image_update' post.pk %}">(Керувати зображеннями)</a></small>
        {% endif %}
    {% endif %}

    <br/>
    <hr>
    <div>
        {% for image in post.image_set.all %}
            <a href="{{ image.image.url }}"><img src="{{ image.image.url }}" align="left" height="100"></a>
        {% endfor %}
        <br/>
        {{ post.text }}
    </div>
    <br/><br/>
    <hr>
{#    <button class="btn btn-primary bt-sm" onclick="getLike()">like - {{ post.total_likes }}</button>#}
    <br/><br/>
        {% if like_exists %}
        <a name="{{ post.id }}" style="font-size:48px;color: blue;" class="likin" id="co"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
        {% else %}
        <a name="{{ post.id }}" style="font-size:48px;color: black;" class="likin" id="co"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
    {% endif %}
        <br/><br/>
    <form method="POST">
        {% csrf_token %}
        {% if like_exists %}
            <button type="submit" name="post_pk" value="{{ post.pk }}" class="btn btn-primary bt-sm">like
                - {{ post.total_likes }}</button>
        {% else %}
            <button type="submit" name="post_pk" value="{{ post.pk }}" class="btn btn-outline-primary">like
                - {{ post.total_likes }}</button>
        {% endif %}
    </form>

    <br/><br/>
    <a href="{% url 'post_list' %}" class="btn btn-secondary">Назад</a>
{% endblock %}

{% block scripts %}
    <script>
// AJAX CALL
$('.likin').click(function(){
    $.ajax({
             type: "POST",
             url: "{% url 'post_detail' post.pk %}",
             data: {
                 'post_id': $(this).attr('name'),
                 'operation':'like_submit',
                 'csrfmiddlewaretoken': '{{ csrf_token }}'
             },
             dataType: "json",
             success: function(response) {
              selector = document.getElementsByName(response.post_id);
                    if(response.liked==true){
                      $(selector).css("color","blue");
                    }
                    else if(response.liked==false){
                      $(selector).css("color","black");
                    }


              }

        });

  })
</script>
{% endblock %}
