{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    <table id="data" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Користувач</th>
            <th>Кількість постів</th>
        </tr>
        </thead>
        <tbody>
        {% for s in subs %}
            <tr>
                <td><a href="{{ s.get_absolute_url }}">{{ s.user }}</a></td>
                <td>{{ s.user.post_set.count }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}

