{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    <table id="data" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Avatar</th>
            <th>Name</th>
            <th>Bio</th>
        </tr>
        </thead>
        <tbody>
        {% for u in object_list %}
            <tr>
                {% if u.profile.avatar %}
                    {{ u.profile.avatar_thumbnail }}
                    <td><img src="{{ u.profile.avatar.url }}" height="50" alt="No Photo"></td>
{#                    <td><img src="{{ u.profile.avatar_thumbnail.url }}" alt="No Photo"></td>#}
                {% else %}
                    <td><img src="https://picsum.photos/50?random={{ u.id }}" alt="No Photo"></td>
                {% endif %}
                <td><a href="{{ u.profile.get_absolute_url }}">{{ u.username }}</a></td>
                {#             target="_blank" rel="nofollow"#}
                <td>{{ u.profile.bio | slice:'50' }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

